DEPLOYMENT_URL=https://ralfs-devs.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/dev-blog-template/
GITHUB_ORG=ralfs-devs
GITHUB_PROJECT=dev-blog-template
GIT_REPOSITORY_URL=https://github.com/ralfs-devs/dev-blog-template.git
